@charset "UTF-8";
.img--adaptive {
  max-width: 100%;
  height: auto; }

.isPatching {
  opacity: 0.8;
  pointer-events: none; }

body.noScroll {
  overflow: hidden; }

.display-block {
  display: block; }

.display-flex {
  display: flex; }

.fl-r {
  float: right; }

.fl-l {
  float: left; }

/* Dropdown */
.rdropdown__wrapper {
  position: relative; }

.rdropdown {
  position: absolute;
  background: #222;
  z-index: 9999;
  min-width: 255px; }

.rdropdown--left {
  left: 0; }

.rdropdown--right {
  right: 0; }

.rdropdown__heading {
  padding: 10px 10px; }

.rdropdown__bottom {
  padding: 10px; }

.rdropdown__button {
  background: none !important;
  border: none;
  outline: none !important;
  cursor: pointer; }

/* Animations */
.fade {
  transform: scale(1); }

.fade-enter {
  opacity: 0.01; }

.fade-enter-active {
  opacity: 1;
  transition: all 300ms ease-out; }

.fade-exit {
  opacity: 1; }

.fade-exit-active {
  opacity: 0;
  transition: all 300ms ease-in; }

.fadeIndown {
  opacity: 1;
  transform: translate3d(0, -10%, 0); }

.fadeIndown-enter {
  opacity: 0;
  transform: translate3d(0, -10%, 0); }

.fadeIndown-enter-active {
  opacity: 1;
  transform: translate3d(0, 0%, 0);
  transition: all 300ms; }

.fadeIndown-exit {
  opacity: 1;
  transform: translate3d(0, 0%, 0); }

.fadeIndown-exit-active {
  opacity: 0;
  transform: translate3d(0, -10%, 0);
  transition: all 300ms; }

.slideDown {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

.slideDown-enter {
  opacity: 0.01;
  height: 0px; }

.slideDown-enter-active {
  opacity: 1;
  height: 100%;
  transition: all 300ms; }

.slideDown-exit {
  opacity: 1;
  height: 100%; }

.slideDown-exit-active {
  opacity: 0;
  height: 0px;
  transition: all 300ms; }

.slideRight {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

.slideRight-enter {
  opacity: 0.01;
  transform: translate3d(-20%, 0, 0); }

.slideRight-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 300ms; }

.slideRight-exit {
  opacity: 1;
  height: auto;
  transform: translate3d(0, 0, 0); }

.slideRight-exit-active {
  opacity: 0;
  height: 0;
  transform: translate3d(-20%, 0, 0);
  transition: all 300ms; }

.slideLeft {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

.slideLeft-enter {
  opacity: 0.01;
  transform: translate3d(20%, 0, 0); }

.slideLeft-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 300ms; }

.slideLeft-exit {
  opacity: 1;
  height: auto;
  transform: translate3d(0, 0, 0); }

.slideLeft-exit-active {
  opacity: 0;
  height: 0;
  transform: translate3d(20%, 0, 0);
  transition: all 300ms; }

.slideUp-enter {
  opacity: 0.01;
  transform: translate3d(0, 20%, 0); }

.slideUp-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 500ms; }

.slideUp-leave {
  opacity: 1;
  transform: translate3d(0, -20%, 0); }

.slideUp-leave-active {
  opacity: 0.01;
  transform: translate3d(0, 20%, 0);
  transition: all 300ms ease-in; }

/* Modal */
.rmodal {
  position: fixed;
  background: rgba(88, 88, 88, 0.85);
  margin: auto 0;
  width: 100%;
  left: 0;
  top: 0;
  height: 100vh;
  padding: 30px 15px 0 15px;
  z-index: 99999;
  display: block;
  overflow: auto; }
  .rmodal__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #ffffff;
    padding: 10px;
    align-items: baseline; }
  .rmodal__title {
    font-size: 18px !important;
    color: #ffffff;
    font-weight: 300;
    display: block; }
  .rmodal__content {
    padding: 10px;
    height: 100%; }
  .rmodal__close {
    font-size: 32px;
    padding: 0;
    margin: 0;
    line-height: 0;
    color: #ff8181;
    cursor: pointer;
    outline: none !important;
    border: none;
    background: none;
    font-weight: 300; }
  .rmodal__inner {
    background: #000;
    width: 100%;
    margin: auto;
    max-width: 400px;
    margin-bottom: 30vh;
    border-radius: 0.25rem;
    box-shadow: 0 2px 20px 0px rgba(0, 0, 0, 0.12); }
    .rmodal__inner--big {
      max-width: 740px;
      height: 600px; }
    .rmodal__inner--map {
      max-width: 740px; }

/* Cart product NEW !!! */
.cart-product-mini__wrapper {
  display: flex;
  padding: 5px 10px;
  background: #222; }
  .cart-product-mini__wrapper * {
    align-self: center; }

.cart-product-mini__image {
  max-width: 40px;
  max-height: 40px;
  height: 40px;
  width: 40px;
  flex-shrink: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-right: 10px; }

.cart-product-mini__title {
  flex-basis: 40%;
  flex-grow: 1;
  font-size: 13px;
  color: #44d62c;
  line-height: 1.2; }

.cart-product-mini__qtyprice {
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  white-space: nowrap;
  display: block; }

.cart-product-maxi__wrapper {
  display: flex;
  padding: 5px 10px;
  background: #222; }
  .cart-product-maxi__wrapper * {
    align-self: center; }

.cart-product-maxi__image {
  max-width: 40px;
  max-height: 40px;
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-right: 10px; }

.cart-product-maxi__title {
  flex-basis: 40%;
  flex-grow: 1;
  color: #44d62c;
  font-size: 13px;
  margin-right: 10px; }

.cart-product-maxi__sku {
  flex-basis: 40%;
  flex-grow: 1;
  color: #d0d0d0;
  font-size: 13px;
  margin-right: 10px; }

.cart-product-maxi__qtyprice {
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  white-space: nowrap;
  display: block; }

.cart-product__wrapper {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between; }

.cart-product__wrapper > div {
  display: flex;
  align-items: center; }

.cart-product__left {
  flex-basis: 65%; }

.cart-product__image {
  margin: auto 0;
  width: 85px !important;
  height: 85px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0.25rem 0 0 0.25rem; }

.cart-product__link {
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  color: #44d62c !important;
  line-height: 1.2;
  text-decoration: none !important; }

.cart-product__details-info {
  color: #44d62c;
  padding: 10px 10px 10px 0; }

.cart-product__details-info * {
  margin-bottom: 0; }

.cart-product__sku {
  color: #888888;
  font-size: 13px;
  display: block; }

.cart-product__link div {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin-right: 10px; }

@media (max-width: 900px) {
  .cart-product__image {
    display: none; }
  button.cart-product__controls-delete {
    height: 22px;
    margin: auto 5px auto 5px !important; }
  .cart-product__qty-control {
    margin-right: 5px !important; }
  .cart-product__details-info {
    color: #44d62c;
    font-size: 13px;
    padding: 0 10px 0 0; } }

.cart-product__qty-control {
  margin-right: 30px;
  color: #888888;
  white-space: nowrap; }

.cart-product__qty-control button {
  background: none;
  border: none;
  font-size: 20px;
  padding: 0;
  cursor: pointer;
  width: 20px;
  color: #888888;
  outline: none !important;
  transition: .3s; }
  .cart-product__qty-control button:hover {
    color: #ffffff; }

.cart-product__qty {
  font-size: 18px;
  color: #888888; }

.cart-product__details-price {
  font-size: 18px;
  white-space: nowrap;
  color: #ffffff; }

button.cart-product__controls-delete {
  border: none;
  color: #ff8181;
  height: 26px;
  width: 15px;
  font-size: 18px;
  font-weight: 300;
  margin: auto 10px auto 10px;
  padding: 0;
  background: none;
  line-height: 0;
  cursor: pointer;
  outline: none !important; }

.cart-product__details-price .t-small {
  text-decoration: line-through;
  color: #888888;
  font-size: 13px; }

/* cart */
.cart-side__total {
  text-align: center; }

.cart-side__total p {
  white-space: nowrap;
  margin-bottom: 10px;
  font-size: 20px; }

.cart-side__total-wrapper {
  padding: 10px; }

span.cart-side__product-count {
  margin-bottom: 10px;
  display: block;
  font-size: 13px;
  color: #ffffff; }

span.cart-side__discount, span.cart-side__subtotal, span.cart-side__delivery {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  span.cart-side__discount--amount, span.cart-side__subtotal--amount, span.cart-side__delivery--amount {
    font-size: 13px;
    color: #ffffff; }

span.cart-side__total {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: flex-end;
  align-items: center; }
  span.cart-side__total span {
    text-align: left; }
  span.cart-side__total--amount {
    font-size: 24px;
    color: #ffffff;
    line-height: 1;
    white-space: nowrap; }

.cart-side__border {
  border-bottom: 1px dotted #393939;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px; }

.cart-side__wrapper {
  background: #222;
  margin-bottom: 10px; }

.cart-side__products {
  border-top: 1px solid #393939;
  border-bottom: 1px solid #393939; }

.cart-side.cart-side--purchase span {
  margin-bottom: 0; }

.cart-side--cart {
  display: flex;
  flex-direction: column; }

@media (max-width: 991px) {
  .cart-side--cart {
    display: flex;
    flex-direction: column-reverse !important; }
  .cart-side--purchase {
    display: none; } }

.form-promo {
  margin-bottom: 10px;
  color: white; }

span.form-promo__errors {
  display: block;
  margin-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #ff8181; }

.r-input-group {
  display: flex;
  flex-grow: 1;
  width: 100%; }
  .r-input-group input {
    -ms-flex-preferred-size: 85%;
    flex-basis: 85%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-weight: 300;
    color: #ffffff;
    outline: none !important;
    background: #000; }
  .r-input-group button {
    padding: 5px !important; }
  .r-input-group > *:first-child {
    border-right-style: none; }

.r-input__wrapper ymaps {
  background: #000000; }

.r-input__autocomplete {
  position: fixed;
  max-height: 30%;
  overflow: auto;
  z-index: 2;
  background: #000000;
  padding-left: 5px; }

.r-input__autocomplete--option {
  padding-left: 5px; }

.r-input__autocomplete--option--selected {
  padding-left: 0;
  background: #222;
  color: #ffffff; }

i.icon-confirm {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

i.icon-confirm:before {
  content: "\f00c"; }

.r-input__wrapper--half {
  flex-basis: 50%;
  margin-right: 0;
  flex-grow: 1; }

.r-input__check {
  margin-right: 10px; }

.r-input__wrapper--half:first-child {
  margin-right: 10px; }

.r-input__wrapper label.r-input__label {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: baseline; }
  .r-input__wrapper label.r-input__label span {
    font-size: 13px; }
  .r-input__wrapper label.r-input__label--inline {
    display: initial; }

.r-input__wrapper {
  margin-bottom: 5px; }
  .r-input__wrapper.inline {
    display: flex;
    align-items: baseline; }

.r-input__text {
  padding-left: 5px;
  width: 100%;
  border: 1px solid #393939;
  border: 1px solid #393939;
  background: #000;
  color: #ffffff;
  outline: none !important;
  transition: .3s; }

.r-input__select {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  border-radius: 0;
  appearance: none;
  height: 28px;
  border: 1px solid #393939;
  background: #000;
  color: #ffffff;
  outline: none !important; }

.r-input__area {
  padding-left: 5px;
  width: 100%;
  border: 1px solid #393939;
  background: #000;
  color: #ffffff;
  outline: none !important; }

.r-input__controls {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px; }

button.r-input-submit {
  background: #44d62c;
  border: none;
  color: #000000;
  font-size: 13px;
  padding: 5px;
  transition: .3s;
  cursor: pointer;
  outline: none !important; }
  button.r-input-submit:hover {
    opacity: 0.8; }

button.r-input-alternative {
  background: none;
  border: none;
  color: #44d62c;
  font-size: 13px;
  padding: 5px;
  transition: .3s;
  cursor: pointer;
  outline: none !important; }
  button.r-input-alternative:hover {
    opacity: 0.8; }

.r-input__bottom {
  text-align: right;
  font-size: 11px;
  margin-top: 10px; }

select.r-input__select.r-input__select--group {
  width: auto;
  padding-left: 10px;
  padding-right: 10px; }

/* React card */
.rcard-head__control {
  background: none;
  border: 0;
  font-size: 18px;
  color: #9494ff;
  cursor: pointer;
  transform: rotate(90deg);
  letter-spacing: 5px;
  display: block;
  text-align: center !important;
  margin-top: 5px; }

.rcard-wrapper {
  margin-bottom: 10px;
  width: 100%;
  transition: .3s; }

.rcard-wrapper button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color; }

.rcard-head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
  flex-basis: 10%;
  padding: 0 8px 0 0; }

.rcard-head h6 {
  margin-bottom: 0; }

.rcard-inner {
  background: #222;
  border-radius: .1rem;
  transition: .5s ease;
  display: flex;
  justify-content: space-between;
  padding: 10px; }

.rcard__title {
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
  line-height: 1.2;
  display: flex;
  align-items: center; }

.rcard__price {
  color: #44d62c; }

.rcard__decription {
  font-size: 13px;
  line-height: 1.5;
  display: block; }

.rcard__more {
  color: #d0d0d0;
  font-size: 13px;
  border-bottom: 1px dotted #d0d0d0;
  transition: .3s;
  cursor: pointer; }
  .rcard__more:hover {
    color: #ffffff; }

.rcard-content__image {
  width: 40px;
  margin-right: 10px; }

.rcard__label {
  cursor: pointer; }

.rcard-toggle {
  text-align: right;
  margin: auto 0;
  line-height: 0;
  margin-left: 10px; }

.rcard-content__wrapper {
  flex-basis: 90%;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  padding: 8px; }

.rcard-content__wrapper.controls-active {
  opacity: 0.3; }

.rcard-head__title {
  padding: 5px 10px 5px 10px; }

.rcard-head__control-wrapper {
  position: relative;
  margin-right: 10px;
  margin: 0;
  text-align: center;
  flex-basis: 10%;
  display: flex;
  align-items: center; }

.rcard-head__control-dropdown {
  position: absolute;
  background: white;
  width: 140px;
  top: 28px;
  right: 10px;
  border-radius: .25rem;
  border: 1px solid #eaeaea;
  z-index: 777; }

.rcard-head__control-dropdown.hide {
  display: none; }

.rcard-head__control-dropdown.show {
  display: block; }

.rcard-head__control-dropdown button {
  background: none;
  border: 0; }

.rcard-head__control-dropdown button {
  width: 100%;
  font-size: 14px;
  transition: .5s ease; }

.rcard-head__control-dropdown button:hover {
  background-color: #f0f0f0; }

.rcard-content p {
  margin-bottom: 0;
  line-height: 1.3; }

label.rcard-toggle__label {
  margin: auto 0; }

.rcard-toggle input[type="radio"] {
  position: absolute;
  opacity: 0; }

.rcard-toggle input[type="radio"] + .rcard-toggle__label:before {
  content: '';
  background: #000;
  border-radius: 100%;
  display: inline-block;
  width: 26px;
  height: 26px;
  position: relative;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  transition: background .5s ease;
  border: 3px solid #000; }

.rcard-toggle input[type="radio"]:checked + .rcard-toggle__label:before {
  background-color: #44d62c; }

.rcard__label.uncative:hover .rcard-inner {
  background: #393939; }

.rcard-toggle.hide {
  display: none; }

.rcard-wrapper.rcard__patching {
  opacity: 0.8;
  pointer-events: none; }

.rcard-bottom__toggle__toggle {
  text-align: center; }

.rcard-bottom__toggle button {
  padding: 0;
  background: none;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #349bf7;
  width: 100%;
  font-size: 14px; }

.rcard-content__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px 10px;
  background: #f8f8f8;
  align-items: center; }

.rcard-content__item-image {
  background-size: cover;
  width: 40px;
  height: 40px;
  background-position: 50%;
  border-radius: 50%; }

.rcard-content__item-title {
  line-height: 1;
  font-size: 13px; }

.ymaps-2-1-60-balloon {
  box-shadow: none !important; }

div#map-basics {
  height: 300px;
  max-height: 300px !important;
  overflow: hidden !important; }

button.address-pvz__choose {
  background: #349bf7;
  color: white;
  border-radius: 3em;
  border: none;
  margin-top: 10px; }

button.address-pvz__choose label {
  margin: 0;
  padding: 0; }

.sdAddress__wrapper > div.sdAddress {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px; }

.sdAddress__data span {
  display: block;
  font-size: 13px; }

.sdAddress__mapImage {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width: 140px !important;
  height: 140px !important;
  border-radius: 70px;
  flex-basis: 140px;
  flex-shrink: 0;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  filter: grayscale(100%);
  transition: .3s; }
  .sdAddress__mapImage:hover {
    filter: grayscale(0%); }

.sdAddress__heading {
  margin-bottom: 10px; }
  .sdAddress__heading--amount {
    color: #44d62c; }

.sdAddress__change {
  color: #d0d0d0;
  font-size: 13px;
  border-bottom: 1px dotted #d0d0d0;
  transition: .3s;
  cursor: pointer;
  display: initial !important; }
  .sdAddress__change:hover {
    color: #ffffff; }

.sdAddress--patching {
  opacity: 0.9;
  pointer-events: none; }

.sdAddress__select--button {
  background: #44d62c;
  color: #000000;
  display: block;
  border-radius: 0.25rem;
  border: none;
  padding: 5px 10px;
  outline: none !important;
  cursor: pointer;
  transition: .3s;
  width: 100%; }
  .sdAddress__select--button:hover {
    opacity: 0.8;
    color: #000000; }

@media (min-width: 900px) {
  .map__heading > div {
    width: 50% !important; } }

@media (max-width: 900px) {
  .map__heading {
    display: block !important; }
    .map__heading span {
      margin-bottom: 10px; }
  .sdAddress__wrapper {
    width: 100%; }
  .sdAddress__wrapper > div.sdAddress {
    width: 100%; }
  .sdAddress__mapImage {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50px;
    flex-basis: 100px; }
  .sdAddress__pointOnMap {
    height: 100px;
    width: 100px;
    background-size: 25px; } }

.react-preloader {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 5px; }

.addToCart__modalControls {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline; }

.addToCart__image {
  width: 100%;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%; }

.addToCart__productTitle {
  color: #44d62c; }

button.addToCart__button {
  background: #44d62c;
  color: #000000;
  display: block;
  border-radius: 0.25rem;
  border: none;
  width: 100%;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  text-decoration: none !important;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  outline: none !important; }
  button.addToCart__button:hover {
    opacity: 0.8; }
  button.addToCart__button--isPatching {
    opacity: 0.8;
    pointer-events: none; }

.r-btn-default {
  background: #0a0;
  display: block;
  padding: 10px;
  color: #fff !important;
  clear: both;
  border: none;
  border-left: 2px solid #0f0;
  margin-left: 0;
  transition: .3s;
  cursor: pointer;
  text-decoration: none !important;
  outline: none !important;
  text-align: center; }
  .r-btn-default:hover {
    background: #000; }
  .r-btn-default--disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.r-btn-edit {
  color: #d0d0d0;
  font-size: 13px;
  background: none;
  border: none;
  border-bottom: 1px dotted #d0d0d0;
  outline: none !important;
  cursor: pointer;
  transition: .3s;
  text-decoration: none !important;
  text-align: center;
  line-height: 1.2;
  padding: 0; }
  .r-btn-edit:hover {
    color: #ffffff; }

.r-btn-secondary {
  padding: 0;
  line-height: 1;
  background: none;
  border: none;
  color: #d0d0d0 !important;
  outline: none !important;
  cursor: pointer;
  transition: .3s;
  text-decoration: none !important;
  text-align: center; }
  .r-btn-secondary:hover {
    opacity: 0.8; }

.w-full {
  width: 100%; }

.fs-small {
  font-size: 13px; }

.cart-step__nextbtn-wrapper a {
  background: #44d62c;
  color: #ffffff;
  display: block;
  border-radius: 0.25rem;
  padding: 5px; }
  .cart-step__nextbtn-wrapper a:hover {
    color: #ffffff; }

.cart-step__nextbtn-wrapper {
  margin-top: 10px;
  text-align: center;
  width: 100%; }

.process-order {
  background: #44d62c;
  color: #000000;
  display: block;
  border-radius: 0.25rem;
  border: none;
  width: 100%;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  text-decoration: none !important;
  transition: .3s;
  outline: none !important; }
  .process-order:hover {
    opacity: 0.8;
    color: #000000; }

.process-order__wrapper {
  margin-top: 10px; }

.process-order--blockers span {
  font-size: 13px;
  color: #ffffff;
  background: #cb0000;
  display: block;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px !important; }

.process-order.process-order--disabled {
  opacity: 0.5; }

.change__button {
  color: #d0d0d0;
  font-size: 13px;
  border: none;
  border-bottom: 1px dotted #d0d0d0;
  transition: .3s;
  cursor: pointer;
  background: none;
  text-decoration: none !important;
  outline: none !important; }
  .change__button:hover {
    color: #ffffff; }

.otherAddresses__button {
  background: none;
  border-radius: 3px;
  border: none;
  width: 100%;
  color: #44d62c;
  font-size: 13px;
  outline: none !important;
  cursor: pointer;
  transition: .3s; }
  .otherAddresses__button:hover {
    opacity: 0.8; }

.socialAuth__buttons a.socialAuth__button {
  color: #ffffff;
  padding: 5px;
  margin-bottom: 5px;
  text-decoration: none !important;
  transition: .3s;
  max-width: 250px;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  outline: none !important; }
  .socialAuth__buttons a.socialAuth__button--vk {
    background: #4a76a8; }
  .socialAuth__buttons a.socialAuth__button--fb {
    background: #4267b2; }
  .socialAuth__buttons a.socialAuth__button--gp {
    background: #ffffff;
    color: black; }
  .socialAuth__buttons a.socialAuth__button:hover {
    opacity: 0.8; }
  .socialAuth__buttons a.socialAuth__button img {
    width: 25px; }

.socialAuth__buttons--small {
  display: flex;
  justify-content: space-around; }
  .socialAuth__buttons--small a.socialAuth__button {
    color: #ffffff;
    padding: 5px;
    text-decoration: none !important;
    transition: .3s;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    border-radius: 0.25rem;
    outline: none !important; }
    .socialAuth__buttons--small a.socialAuth__button--vk {
      background: #4a76a8; }
    .socialAuth__buttons--small a.socialAuth__button--fb {
      background: #4267b2; }
    .socialAuth__buttons--small a.socialAuth__button--gp {
      background: #ffffff; }
    .socialAuth__buttons--small a.socialAuth__button:hover {
      opacity: 0.8; }
    .socialAuth__buttons--small a.socialAuth__button img {
      width: 25px; }
    .socialAuth__buttons--small a.socialAuth__button:not(:last-child) {
      margin-right: 10px; }

span.socialAuth__text {
  margin-left: 10px;
  font-size: 13px;
  display: block;
  width: 100%; }

span.termsandconditions {
  font-size: 13px;
  display: block;
  line-height: 1;
  text-align: center;
  color: #d0d0d0;
  margin-top: 5px; }

.recipient__wrapper {
  display: flex;
  align-items: center; }
  .recipient__wrapper span {
    display: block;
    margin-right: 10px;
    font-size: 13px; }

@media (max-width: 900px) {
  .recipient__wrapper {
    justify-content: space-between; }
    .recipient__wrapper span {
      margin-right: 0; } }

.order__products {
  border-bottom: 1px solid #393939;
  border-top: 1px solid #393939; }
  .order__products > div {
    background: #222; }

.order__head--info > * {
  display: block;
  font-size: 13px; }

.order__head--summary > * {
  display: block; }

.order__head_ {
  justify-content: space-between;
  width: 100%; }

button.order__pay {
  width: 100%;
  margin: 0;
  border: none;
  outline: none !important;
  background: #44d62c;
  color: #000000;
  border-radius: 0.25rem;
  padding: 2px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: .3s; }
  button.order__pay:hover {
    opacity: 0.8; }

.order__head, .order__bottom {
  width: 100%; }
  .order__head span, .order__bottom span {
    font-size: 13px; }

.order__head--count {
  font-size: 13px;
  text-align: right; }

.order__head--total {
  font-size: 18px !important;
  color: #ffffff;
  line-height: 2;
  font-weight: 300; }

.order__head div, .order__bottom div.order__bottom--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.order-status__indicator {
  height: 8px;
  width: 8px;
  display: inline-block;
  border-radius: 3rem; }
  .order-status__indicator.order_status--new {
    background: #ffffff; }
  .order-status__indicator.order_status--processing {
    background: #007bff; }
  .order-status__indicator.order_status--canceled {
    background: #ff8181; }
  .order-status__indicator.order_status--waitingForPayment {
    background: #fd7e14; }
  .order-status__indicator.order_status--paymentInProgress {
    background: #fd7e14; }
  .order-status__indicator.order_status--paymentAuthorized {
    background: #007bff; }
  .order-status__indicator.order_status--paid {
    background: #007bff; }
  .order-status__indicator.order_status--delivering {
    background: #fd7e14; }
  .order-status__indicator.order_status--done {
    background: #28a745; }

.order__promoCode {
  color: white;
  text-transform: uppercase; }

.order__discount--amount, .order__delivery--cost, .order__value {
  font-size: 13px;
  color: #ffffff;
  font-weight: 300; }

.profile__info span {
  display: block; }

.profile__info--name {
  font-size: 16px;
  color: #ffffff; }

.profile__info--phone {
  font-size: 13px;
  color: #ffffff; }

.profile__info--email {
  font-size: 13px;
  color: #ffffff; }

.profile__nav {
  margin-top: 10px;
  border-bottom: 1px solid #393939;
  border-top: 1px solid #393939;
  padding: 10px 0; }

.profile__navLink {
  display: block;
  color: #d0d0d0;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 0;
  transition: .3s; }
  .profile__navLink--active {
    color: #44d62c; }
  .profile__navLink:hover {
    text-decoration: none;
    color: #44d62c; }

.userIcon--icon {
  font-size: 18px;
  color: #ffffff; }

span.profileData__wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 13px; }

span.profileData__value {
  color: #ffffff; }

.profileDropdown__nav a {
  display: block;
  padding: 10px;
  text-decoration: none !important;
  color: #d0d0d0;
  font-size: 13px;
  background: none;
  transition: .3s; }
  .profileDropdown__nav a:hover {
    color: #44d62c;
    background: black; }

.profileDropdown__info {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #393939; }
  .profileDropdown__info span {
    font-size: 16px;
    color: #ffffff;
    font-weight: 100;
    display: block; }

.profileDropdown__bottom {
  padding: 10px;
  border-top: 1px solid #393939; }
  .profileDropdown__bottom .profileDropdown--logout {
    border: none;
    outline: none !important;
    background: none;
    font-size: 13px;
    cursor: pointer;
    color: #d0d0d0;
    transition: .3s; }
    .profileDropdown__bottom .profileDropdown--logout:hover {
      opacity: 0.8; }

.profile__nav--bottom {
  margin-top: 10px; }
  .profile__nav--bottom .profile__nav--logout {
    border: none;
    outline: none !important;
    background: none;
    font-size: 13px;
    cursor: pointer;
    color: #d0d0d0;
    padding: 0;
    transition: .3s; }
    .profile__nav--bottom .profile__nav--logout:hover {
      opacity: 0.8; }

section.dashBlock {
  margin-bottom: 30px; }

.finalBlock__wrapper {
  justify-content: flex-end; }

.finalBlock__summary {
  margin-top: 10px; }

.finalBlock__products {
  background: #222;
  margin-bottom: 10px; }

.finalBlock__heading {
  padding: 10px; }
  .finalBlock__heading span {
    font-size: 13px;
    color: #ffffff; }

.finalBlock__delimeter {
  margin-bottom: 40px;
  border-bottom: 1px solid #44d62c; }

.finalBlock__productsWrapper {
  border-top: 1px solid #393939;
  padding-bottom: 3px;
  background: black; }

.finalblock__promo {
  display: none; }

@media (max-width: 991px) {
  .finalblock__promo {
    display: block; } }

.auth_wrapper {
  justify-content: space-evenly;
  margin-top: 10vh; }

.auth__toggle {
  margin-top: 15px;
  text-align: center; }

form.login__form {
  margin-bottom: 30px; }

@media (max-width: 991px) {
  .auth_wrapper {
    justify-content: space-evenly;
    margin-top: 0; } }

.deliveryType * {
  display: block;
  flex-basis: 50%;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 13px; }
  .deliveryType *.active {
    background: #0a0;
    display: block;
    padding: 10px;
    color: #fff !important;
    clear: both;
    border: none;
    border-bottom: 2px solid #0f0;
    margin-left: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
    text-align: center; }
  .deliveryType *.unactive {
    color: #fff;
    background: #222222;
    display: block;
    padding: 10px;
    clear: both;
    border: none;
    border-bottom: 2px solid #393939;
    margin-left: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
    text-align: center; }
    .deliveryType *.unactive:hover {
      background: #000; }

.delivery__heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between; }

.deliveryType {
  display: flex;
  justify-content: space-between; }

@media (max-width: 991px) {
  .delivery__heading {
    display: block; }
    .delivery__heading span {
      margin-right: 10px;
      margin-bottom: 10px; }
  .deliveryType {
    margin-bottom: 10px; } }

.addressesWrapper, .deliveryMethodsWrapper {
  margin-bottom: 10px; }

.r-section {
  margin-bottom: 30px; }

.r-secction__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; }

.map__heading--text {
  flex-basis: 80%;
  flex-grow: 1; }

.map__heading select {
  width: 300px; }

span.r-section__title {
  font-size: 22px;
  display: block;
  margin-bottom: 10px;
  color: #44d62c;
  font-weight: 300;
  transition: .3s; }
  span.r-section__title--disabled {
    opacity: .5; }

.r-section__subtitle {
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
  display: block; }

.r-subsection {
  margin-bottom: 20px; }

@media (max-width: 991px) {
  .r-section__subtitle {
    font-size: 15px; } }

.payment__iframe {
  width: 719px;
  height: 600px;
  border: none;
  margin-top: 10px; }

span.order__success {
  font-size: 18px;
  color: #d0d0d0;
  font-weight: 300;
  display: block; }

span.order__success--id {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400; }

.r-overlay {
  position: fixed;
  background: #222222;
  height: 100%;
  z-index: 999;
  max-width: 75%; }

.r-overlay__wrapper {
  position: relative; }

.r-overlay {
  /* padding: 15px 15px; */ }

.r-overlay--left {
  left: 0; }

.r-overlay--right {
  right: 0; }

.r-overlay__heading {
  padding: 10px 10px; }

.r-overlay__bottom {
  padding: 10px; }

.r-overlay__button {
  background: none;
  border: none;
  outline: none !important;
  cursor: pointer; }

.preOrder__wrapper {
  position: relative;
  display: inline-block; }

.preOrder__btn {
  position: relative; }

.preOrder__hint {
  position: absolute;
  background-color: white;
  bottom: calc(100% + 10px);
  left: 0;
  right: 0;
  color: black;
  padding: 5px;
  transition: opacity .6s;
  font-size: 12px;
  line-height: 18px;
  text-align: left; }
  .preOrder__hint:after {
    content: "";
    position: absolute;
    top: 100%;
    left: calc(50% - 10px);
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent; }

html {
  overflow-y: scroll; }

div#cartPage, div#profilePage {
  margin-top: 40px;
  margin-bottom: 40px; }

.codeTag {
  color: #ffffff;
  font-weight: 300; }

.cartIcon--icon {
  font-size: 18px;
  color: #ffffff; }

.promoMessage {
  font-size: 14px;
  color: #ffffff; }

span.rbadge {
  position: absolute;
  background: #44d62c;
  top: -6px;
  width: 15px;
  height: 15px;
  color: #222222;
  line-height: 1.4;
  font-size: 10px;
  left: 23px;
  border-radius: 50%; }

.toHome__wrapper {
  margin-top: 10px; }

.toHome__wrapper a {
  display: initial; }

body {
  margin: 0;
  padding: 0;
  background: #000000;
  color: #d0d0d0; }

span.privacy-policy--text {
  font-size: 11px;
  display: block;
  line-height: 1.2;
  margin-top: 15px; }
  span.privacy-policy--text a {
    color: #d0d0d0;
    font-size: 11px;
    text-decoration: none !important;
    border-bottom: 1px dotted #d0d0d0;
    transition: .3s;
    cursor: pointer; }
    span.privacy-policy--text a:hover {
      color: #ffffff; }

::selection {
  background: #ffffff; }

::-moz-selection {
  background: #ffffff; }

span.restore--success {
  display: block;
  font-size: 13px; }
  span.restore--success a {
    color: #d0d0d0;
    font-size: 13px;
    border-bottom: 1px dotted #d0d0d0;
    transition: .3s;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    outline: none !important; }
    span.restore--success a:hover {
      color: #ffffff; }
    span.restore--success a::before {
      content: "→ "; }

.promo__needAuth {
  display: block;
  margin-bottom: 10px;
  color: #d0d0d0; }
