.r-overlay {
  position: fixed;
  background: #222222;
  height: 100%;
  z-index: 999;
  max-width: 75%; }

.r-overlay__wrapper {
  position: relative; }

.r-overlay {
  /* padding: 15px 15px; */ }

.r-overlay--left {
  left: 0; }

.r-overlay--right {
  right: 0; }

.r-overlay__heading {
  padding: 10px 10px; }

.r-overlay__bottom {
  padding: 10px; }

.r-overlay__button {
  background: none;
  border: none;
  outline: none !important;
  cursor: pointer; }
