/* React card */
.rcard-head__control {
  background: none;
  border: 0;
  font-size: 18px;
  color: #9494ff;
  cursor: pointer;
  transform: rotate(90deg);
  letter-spacing: 5px;
  display: block;
  text-align: center !important;
  margin-top: 5px; }

.rcard-wrapper {
  margin-bottom: 10px;
  width: 100%;
  transition: .3s; }

.rcard-wrapper button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color; }

.rcard-head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
  flex-basis: 10%;
  padding: 0 8px 0 0; }

.rcard-head h6 {
  margin-bottom: 0; }

.rcard-inner {
  background: #222;
  border-radius: .1rem;
  transition: .5s ease;
  display: flex;
  justify-content: space-between;
  padding: 10px; }

.rcard__title {
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
  line-height: 1.2;
  display: flex;
  align-items: center; }

.rcard__price {
  color: #44d62c; }

.rcard__decription {
  font-size: 13px;
  line-height: 1.5;
  display: block; }

.rcard__more {
  color: #d0d0d0;
  font-size: 13px;
  border-bottom: 1px dotted #d0d0d0;
  transition: .3s;
  cursor: pointer; }
  .rcard__more:hover {
    color: #ffffff; }

.rcard-content__image {
  width: 40px;
  margin-right: 10px; }

.rcard__label {
  cursor: pointer; }

.rcard-toggle {
  text-align: right;
  margin: auto 0;
  line-height: 0;
  margin-left: 10px; }

.rcard-content__wrapper {
  flex-basis: 90%;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  padding: 8px; }

.rcard-content__wrapper.controls-active {
  opacity: 0.3; }

.rcard-head__title {
  padding: 5px 10px 5px 10px; }

.rcard-head__control-wrapper {
  position: relative;
  margin-right: 10px;
  margin: 0;
  text-align: center;
  flex-basis: 10%;
  display: flex;
  align-items: center; }

.rcard-head__control-dropdown {
  position: absolute;
  background: white;
  width: 140px;
  top: 28px;
  right: 10px;
  border-radius: .25rem;
  border: 1px solid #eaeaea;
  z-index: 777; }

.rcard-head__control-dropdown.hide {
  display: none; }

.rcard-head__control-dropdown.show {
  display: block; }

.rcard-head__control-dropdown button {
  background: none;
  border: 0; }

.rcard-head__control-dropdown button {
  width: 100%;
  font-size: 14px;
  transition: .5s ease; }

.rcard-head__control-dropdown button:hover {
  background-color: #f0f0f0; }

.rcard-content p {
  margin-bottom: 0;
  line-height: 1.3; }

label.rcard-toggle__label {
  margin: auto 0; }

.rcard-toggle input[type="radio"] {
  position: absolute;
  opacity: 0; }

.rcard-toggle input[type="radio"] + .rcard-toggle__label:before {
  content: '';
  background: #000;
  border-radius: 100%;
  display: inline-block;
  width: 26px;
  height: 26px;
  position: relative;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  transition: background .5s ease;
  border: 3px solid #000; }

.rcard-toggle input[type="radio"]:checked + .rcard-toggle__label:before {
  background-color: #44d62c; }

.rcard__label.uncative:hover .rcard-inner {
  background: #393939; }

.rcard-toggle.hide {
  display: none; }

.rcard-wrapper.rcard__patching {
  opacity: 0.8;
  pointer-events: none; }

.rcard-bottom__toggle__toggle {
  text-align: center; }

.rcard-bottom__toggle button {
  padding: 0;
  background: none;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #349bf7;
  width: 100%;
  font-size: 14px; }

.rcard-content__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px 10px;
  background: #f8f8f8;
  align-items: center; }

.rcard-content__item-image {
  background-size: cover;
  width: 40px;
  height: 40px;
  background-position: 50%;
  border-radius: 50%; }

.rcard-content__item-title {
  line-height: 1;
  font-size: 13px; }
