.r-section {
  margin-bottom: 30px; }

.r-secction__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; }

.map__heading--text {
  flex-basis: 80%;
  flex-grow: 1; }

.map__heading select {
  width: 300px; }

span.r-section__title {
  font-size: 22px;
  display: block;
  margin-bottom: 10px;
  color: #44d62c;
  font-weight: 300;
  transition: .3s; }
  span.r-section__title--disabled {
    opacity: .5; }

.r-section__subtitle {
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
  display: block; }

.r-subsection {
  margin-bottom: 20px; }

@media (max-width: 991px) {
  .r-section__subtitle {
    font-size: 15px; } }
