$color-primary: #44d62c;
$color-danger: #ff8181;
$color-halfdark: #888;
$color-dark: #000000;
$color-light: #ffffff;
$color-border: #393939;
$bg-primary: #222;
$bg-secondary: #000;

$order--new: #ffffff;
$order--processing: #007bff;
$order--canceled: #ff8181;
$order--waitingForPayment: #fd7e14;
$order--paymentInProgress: #fd7e14;
$order--paymentAuthorized: #007bff;
$order--paid: #007bff;
$order--delivering: #fd7e14;
$order--done: #28a745;

$border-radius: .25rem;
$margin: 10px;
$margin-half: 5px;
$padding: 10px;
$padding-half: 5px;
$def-shadow: 0 2px 20px 0px rgba(0, 0, 0, 0.12);


// fonts
$fs-small: 13px;
$fs-normal: 16px;
$fs-big: 18px;
$fs-bigger: 20px;
$fs-huge: 24px;

$text-brand:  #44d62c;
$text-light: #d0d0d0;
$text-dark: #888888;
$text-default: #ffffff;

$fw-ligth: 300;
$fw-regular: 400;
$fw-bold: 600;

$modal-overlay-bg: rgba(88, 88, 88, 0.85);
$border-solid: 1px solid $color-border;
$border-dotted: 1px dotted $color-border;
