@import "_constants.scss";
.r-btn-default{
    background: #0a0;
    display: block;
    padding: 10px;
    color: #fff !important;
    clear: both;
    border: none;
    border-left: 2px solid #0f0;
    margin-left: 0;
    transition: .3s;
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
    text-align: center;
    &:hover{
        background: #000;
    }
    &--disabled{
        opacity: 0.5;
        cursor: not-allowed;
    }
}
.r-btn-edit {
    color: $text-light;
    font-size: $fs-small;
    background: none;
    border: none;
    border-bottom: 1px dotted $text-light;
    outline: none !important;
    cursor: pointer;
    transition: .3s;
    text-decoration: none !important;
    text-align: center;
    line-height: 1.2;
    padding: 0;
    &:hover{
        color: $text-default;
    }
}
.r-btn-secondary {
    padding: 0;
    line-height: 1;
    background: none;
    border: none;
    color: $text-light !important;
    outline: none !important;
    cursor: pointer;
    transition: .3s;
    text-decoration: none !important;
    text-align: center;
    &:hover{
        opacity: 0.8;
    }
}
.w-full{
    width: 100%;
}
.fs-small{
    font-size: $fs-small;
}

.cart-step__nextbtn-wrapper a {
    background: $color-primary;
    color: $color-light;
    display: block;
    border-radius: $border-radius;
    padding: $padding-half;
    &:hover{
        color: $color-light;
    }
}
.cart-step__nextbtn-wrapper {
    margin-top: $margin;
    text-align: center;
    width: 100%;
}
.process-order {
    background: $color-primary;
    color: $color-dark;
    display: block;
    border-radius: $border-radius;
    border: none;
    width: 100%;
    padding: $padding-half;
    text-align: center;
    cursor: pointer;
    text-decoration: none !important;
    transition: .3s;
    outline: none !important;
    &:hover{
        opacity: 0.8;
        color: $color-dark;
    }
}
.process-order__wrapper {
    margin-top: $margin;
}
.process-order--blockers span {
    font-size: $fs-small;
    color: $text-default;
    background: #cb0000;
    display: block;
    padding: $padding-half;
    border-radius: 3px;
    margin-bottom: $margin-half !important;
}
.process-order.process-order--disabled {
    opacity: 0.5;
}
.change__button{
    color: $text-light;
    font-size: $fs-small;
    border: none;
    border-bottom: 1px dotted $text-light;
    transition: .3s;
    cursor: pointer;
    background: none;
    text-decoration: none !important;
    outline: none !important;
    &:hover{
        color: $text-default;
    }
}
.otherAddresses__button{
    background: none;
    border-radius: 3px;
    border: none;
    width: 100%;
    color: $text-brand;
    font-size: $fs-small;
    outline: none !important;
    cursor: pointer;
    transition: .3s;
    &:hover{
        opacity: 0.8;
    }
}
.socialAuth__buttons{
    a.socialAuth__button {
        color: $text-default;
        padding: $padding-half;
        margin-bottom: $margin-half;
        text-decoration: none !important;
        transition: .3s;
        max-width:250px;
        display: flex;
        align-items: center;
        border-radius: $border-radius;
        outline: none !important;
        &--vk{
            background: #4a76a8;
        }
        &--fb{
            background: #4267b2;
        }
        &--gp{
            background: #ffffff;
            color: black;
        }
        &:hover{
            opacity: 0.8;
        }
        & img{
            width: 25px;
        }
    }

    &--small{
        display: flex;
        justify-content: space-around;
        & a.socialAuth__button {
            color: $text-default;
            padding: $padding-half;
            text-decoration: none !important;
            transition: .3s;
            flex-grow: 1;
            text-align: center;
            align-items: center;
            border-radius: $border-radius;
            outline: none !important;
            &--vk{
                background: #4a76a8;
            }
            &--fb{
                background: #4267b2;
            }
            &--gp{
                background: #ffffff;
            }
            &:hover{
                opacity: 0.8;
            }
            & img{
                width: 25px;
            }
            &:not(:last-child){
                margin-right: $margin;
            }
        }
    }
}

span.socialAuth__text {
    margin-left: 10px;
    font-size: $fs-small;
    display: block;

    width: 100%;
}

span.termsandconditions {
    font-size: 13px;
    display: block;
    line-height: 1;
    text-align: center;
    color: #d0d0d0;
    margin-top: 5px;
}
