/* Dropdown */
@import "_constants.scss";
.rdropdown__wrapper {
    position: relative;
}
.rdropdown {
    position: absolute;
    background: $bg-primary;
    z-index: 9999;
    min-width: 255px;
}
.rdropdown--left {
    left: 0;
}
.rdropdown--right {
    right: 0;
}
.rdropdown__heading {
    padding: 10px 10px;
}
.rdropdown__bottom {
    padding: 10px;
}
.rdropdown__button{
    background: none !important;
    border: none;
    outline: none !important;
    cursor: pointer;
}
