@import "_constants.scss";
// @media (min-width: 991px){
//     .finalBlock__promo{
//         display: block;
//     }
// }
.finalBlock__wrapper {
    justify-content: flex-end;
}
.finalBlock__summary {
    margin-top: 10px;
}
.finalBlock__products {
    background: $bg-primary;
    // border-radius: 0.25rem;
    margin-bottom: 10px;
    // border: 1px solid #393939;
}
.finalBlock__heading {
    padding: 10px;
    & span{
        font-size: $fs-small;
        color: $color-light;
    }
}
.finalBlock__delimeter {
    margin-bottom: 40px;
    border-bottom: 1px solid #44d62c;
}
.finalBlock__productsWrapper{
    border-top: 1px solid #393939;
    padding-bottom: 3px;
    background: black;
}
.finalblock__promo{
    display: none;
}
@media (max-width: 991px){
    .finalblock__promo{
        display: block;
    }
}
