@import "_constants.scss";
@import "_utils.scss";
@import "dropdown.scss";
@import "animations.scss";
@import "modal.scss";
@import "cart-product.scss";
@import "cart-side.scss";
@import "r-input.scss";
@import "r-card.scss";
@import "cart-map.scss";
@import "preloader.scss";
@import "add-to-cart.scss";
@import "buttons.scss";
@import "recipients.scss";
@import "orders.scss";
@import "profile.scss";
@import "finalblock.scss";
@import "auth.scss";
@import "delivery-type.scss";
@import "r-section.scss";
@import "success.scss";
@import "overlay.scss";
@import "preOrder.scss";

html{
    overflow-y: scroll;
}
div#cartPage, div#profilePage {
    margin-top: 40px;
    margin-bottom: 40px;
}
.codeTag{
    color: $color-light;
    font-weight: $fw-ligth;
}
.cartIcon--icon {
    font-size: 18px;
    color: $color-light;
}
.promoMessage{
    font-size: 14px;
    color: $color-light;
}
span.rbadge {
    position: absolute;
    background: $color-primary;
    top: -6px;
    width: 15px;
    height: 15px;
    color: #222222;
    line-height: 1.4;
    font-size: 10px;
    left: 23px;
    border-radius: 50%;
}

.toHome__wrapper {
    margin-top: 10px;
}
.toHome__wrapper a {
    display: initial;
}
body {
    margin: 0;
    padding: 0;
    background: $color-dark;
    color: $text-light;
}
span.privacy-policy--text {
    font-size: 11px;
    display: block;
    line-height: 1.2;
    margin-top: 15px;
    & a{
        color: $text-light;
        font-size: 11px;
        text-decoration: none !important;
        border-bottom: 1px dotted $text-light;
        transition: .3s;
        cursor: pointer;
        &:hover{
            color: $text-default;
        }
    }
}
::selection {
  background: $color-light;
}
::-moz-selection {
  background: $color-light;
}

span.restore--success {
    display: block;
    font-size: 13px;
    & a {
        color: $text-light;
        font-size: $fs-small;
        border-bottom: 1px dotted $text-light;
        transition: .3s;
        cursor: pointer;
        text-decoration: none;
        white-space: nowrap;
        outline: none !important;
        &:hover{
            color: $text-default;
        }
        &::before {
            content: "→ ";
        }
    }
}

.promo__needAuth {
    display: block;
    margin-bottom: $margin;
    color: $text-light;
}
