@import "_constants.scss";
.form-promo {
    margin-bottom: $margin;
    // border-radius: $border-radius;
    color: white;
}
span.form-promo__errors {
    display: block;
    margin-top: $margin-half;
    text-align: center;
    font-size: $fs-small;
    color: $color-danger
}
.r-input-group {
    display: flex;
    flex-grow: 1;
    width: 100%;
    & input {
        -ms-flex-preferred-size: 85%;
        flex-basis: 85%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        font-weight: 300;
        color: $color-light;
        outline: none !important;
        background: $bg-secondary;
    }
    &  button {
        padding: $padding-half !important;
    }
    & > *:last-child{
        // border-left-style: none;
        // border-radius: 0 $border-radius $border-radius 0;
    }
    & > *:first-child{
        border-right-style: none;
        // border-radius: $border-radius 0 0 $border-radius;
    }
}
.r-input__wrapper ymaps {
    background: $color-dark;
}

.r-input__autocomplete {
    position: fixed;
    max-height: 30%;
    overflow: auto;
    z-index: 2;
    background: $color-dark;
    padding-left: $padding-half;

}

.r-input__autocomplete--option{
    padding-left: $padding-half;
}
.r-input__autocomplete--option--selected{
    padding-left: 0;
    background: $bg-primary;
    color: $color-light;
}

i.icon-confirm {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
i.icon-confirm:before {
    content: "\f00c";
}
.r-input__wrapper--half {
    flex-basis: 50%;
    margin-right: 0;
    flex-grow: 1;
}
.r-input__check {
    margin-right: $margin;
}
.r-input__wrapper--half:first-child {
    margin-right: $margin;
}
.r-input__wrapper label.r-input__label {
    width: 100%;
    margin-bottom: $margin-half;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    & span{
        font-size: $fs-small;
        // margin-left: $margin-half;
    }
    &--inline{
        display: initial;
    }
}
.r-input__wrapper {
    margin-bottom: 5px;
    &.inline{
        display: flex;
        align-items: baseline;
    }
}
.r-input__text {
    // margin-top: $margin-half;
    padding-left: $padding-half;
    width: 100%;
    border: $border-solid;
    border: $border-solid;
    // border-radius: $border-radius;
    background: $bg-secondary;
    color: $color-light;
    outline: none !important;
    transition: .3s;
}
.r-input__select {
    // margin-top: $margin-half;
    padding-left: $padding-half;
    padding-right: $padding-half;
    width: 100%;
    border-radius: 0;
    appearance: none;
    height: 28px;
    border: $border-solid;
    // border-radius: $border-radius;
    background: $bg-secondary;
    color: $color-light;
    outline: none !important;
}
.r-input__area {
    // margin-top: $margin-half;
    padding-left: $padding-half;
    width: 100%;
    border: $border-solid;
    // border-radius: $border-radius;
    background: $bg-secondary;
    color: $color-light;
    outline: none !important;
}
.r-input__controls {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
}
button.r-input-submit {
    background: $color-primary;
    border: none;
    // border-radius: $border-radius;
    color: $color-dark;
    font-size: $fs-small;
    padding: 5px;
    transition: .3s;
    cursor: pointer;
    outline: none !important;
    &:hover{
        opacity: 0.8;
    }
}
button.r-input-alternative {
    background: none;
    border: none;
    // border-radius: $border-radius;
    color: $text-brand;
    font-size: $fs-small;
    padding: 5px;
    transition: .3s;
    cursor: pointer;
    outline: none !important;
    &:hover{
        opacity: 0.8;
    }
}
.r-input__bottom {
    text-align: right;
    font-size: 11px;
    margin-top: 10px;
    // line-height: 1.1;
}
select.r-input__select.r-input__select--group {
    width: auto;
    padding-left: $padding;
    padding-right: $padding;
    // height: 34px;
}
