@import "_constants.scss";
.recipient__wrapper {
    display: flex;
    align-items: center;
    & span{
        display: block;
        margin-right: $margin;
        font-size: $fs-small;
    }
}
@media (max-width: 900px){
    .recipient__wrapper {
        justify-content: space-between;
        & span{
            margin-right: 0;
        }
    }
}
